pkgbase = caelestia-webapps
	pkgdesc = Unofficial Firefox WebApp manager for Hyprland and Caelestia-style desktops
	pkgver = 0.4.3
	pkgrel = 1
	url = https://github.com/psdl76/caelestia-shell-installer
	arch = any
	license = GPL-3.0-only
	depends = bash
	depends = python
	depends = firefox
	depends = hyprland
	depends = quickshell
	depends = hicolor-icon-theme
	optdepends = desktop-file-utils: refresh the desktop application database
	optdepends = gtk-update-icon-cache: refresh the hicolor icon cache for installed WebApps
	source = caelestia-webapps-0.4.3.tar.gz::https://github.com/psdl76/caelestia-shell-installer/releases/download/v0.4.3/caelestia-webapps-0.4.3.tar.gz
	sha256sums = 2709d273bc79d1c61891a77cfb9aa778796336fecde8198f4bc0cc2f3a6c8cc0

pkgname = caelestia-webapps
