[Desktop Entry]
Type=Application
Name=Caelestia WebApps
GenericName=WebApp Manager
Comment=Manage Firefox-based WebApps for Hyprland and Caelestia
Exec=caelestia-webapps-manager
Icon=caelestia-webapps
Terminal=false
Categories=Network;Utility;
StartupNotify=false
